doctype html
html
  head
    title= pagetitle
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="/javascripts/menu.js")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    #menu
      section#menuitems
        .menubutton
          h1.menubutton(onclick="menuToggle('hide')") &#9776;
        a(href="/")
          h3.menuhead Dentist+
        a(href="/calendar")
          h3.sectrule Kalendarz
        a(href="/visits")
          h3 Wizyty
        a(href="/patients")
          h3 Pacjenci
    #container
      #header
        a(href="/")
          h1.logo Dentist+
        .headspace
        h1.placeholder &#9776;
        h2.navitem
          a(href="/calendar")
            .clickable-area Kalendarz
        h2.navitem
          a(href="/visits")
            .clickable-area Wizyty
        h2.navitem
          a(href="/patients")
            .clickable-area Pacjenci
      block mainbody
      
      #footer
        p Copyright &copy; 2023 Dentist+